.clearfix,
.line {
  *zoom: 1;
}
.clearfix:before,
.line:before,
.clearfix:after,
.line:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after,
.line:after {
  clear: both;
}
/*---------------------------------------------------------------------------
	[Basic page styles]
---------------------------------------------------------------------------*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
form,
table,
tr,
td,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
p,
span,
b,
i,
input,
textarea,
fieldset {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: bold;
  color: #333333;
}
ul {
  list-style-type: none;
}
img,
fieldset {
  border: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input,
textarea,
select,
label {
  font-size: 1em;
  font-family: inherit;
}
input[type="submit"] {
  cursor: pointer;
}
a img,
fieldset {
  border: none;
}
html,
body {
  height: 100%;
}
body {
  font-family: 'PT Sans', sans-serif;
  font-size: 12px;
  color: #000;
}
a {
  text-decoration: none;
  color: #1e98ca;
  -webkit-transition: color 0.3 ease;
  -moz-transition: color 0.3 ease;
  -o-transition: color 0.3 ease;
  -ms-transition: color 0.3 ease;
  transition: color 0.3 ease;
}
a:hover {
  color: #c50000;
}
/* ===== [ link-preset ] ===== */
.b-link {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
}
.b-link__inner {
  line-height: 1.2;
  text-decoration: none;
  border-bottom: 1px solid;
}
.b-link_pseudo .b-link__inner {
  border-bottom: 1px dotted;
}
.wyswyg p {
  margin-bottom: 1em;
}
.wyswyg ul,
.wyswyg ol {
  margin: 1em 2em;
  list-style: disc;
}
.wyswyg ol {
  list-style: decimal;
}
.wyswyg blockquote {
  margin: 1em 2em;
}
.wyswyg table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}
.wyswyg table td {
  border: 1px solid #ccc;
  padding: 5px;
}
/*---------------------------------------------------------------------------
	[Layouts]
---------------------------------------------------------------------------*/
.container {
  position: relative;
  min-height: 100%;
}
.case {
  width: 1000px;
  margin: 0 auto;
  *zoom: 1;
}
.case:before,
.case:after {
  display: table;
  content: "";
  line-height: 0;
}
.case:after {
  clear: both;
}
.l {
  width: 100%;
  display: inline-block;
}
.l .l-col1 {
  float: left;
  width: 20%;
}
.l .l-col2 {
  float: right;
  width: 70%;
}
/*---------------------------------------------------------------------------
	[Icons]
---------------------------------------------------------------------------*/
.ico {
  display: inline-block;
  background: url("../img/ico.png") no-repeat;
  /*-webkit-transform:translateZ(0);*/

}
@media only screen and ( -webkit-min-device-pixel-ratio: 1.3), only screen and ( min--moz-device-pixel-ratio: 1.3), only screen and ( -o-min-device-pixel-ratio: 2.6/2), only screen and ( min-device-pixel-ratio: 1.3), only screen and ( min-resolution: 1.3dppx) {
  
}
/*---------------------------------------------------------------------------
	[Buttons]
---------------------------------------------------------------------------*/
.btn {
  position: relative;
  display: inline-block;
  vertical-align: top;
}
/*---------------------------------------------------------------------------
	[Forms]
---------------------------------------------------------------------------*/
.input-i {
  position: relative;
}
/* ###########################################################################
	[Blocks]
########################################################################### */
/*---------------------------------------------------------------------------
    [Elements]
---------------------------------------------------------------------------*/
/* ==== [ Block ] ==== */
.block {
  margin: 0;
  padding: 0;
}
.block__element {
  display: block;
}
/* ############################################################################
	[Jquery/javascript plugins]
########################################################################### */
.scroll-pane {
  margin: 0 7px 0 0;
  overflow: hidden;
  outline: none;
  padding: 0 7px 0 0;
  border-top: 1px solid #d8d8d8;
}
.jspContainer {
  overflow: hidden;
  position: relative;
  margin-top: -1px;
}
.jspPane {
  position: absolute;
  border-right: 1px solid #d9d9d9;
  padding: 0 !important;
}
.jspVerticalBar {
  position: absolute;
  top: 0;
  right: 5px;
  width: 8px;
  height: 100%;
}
.jspHorizontalBar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 7px;
}
.jspVerticalBar *,
.jspHorizontalBar * {
  margin: 0;
  padding: 0;
}
/*.jspCap
	{
		position:absolute;
		left:0;
		display:block;
		z-index:1;
	}*/
.jspCapTop {
  height: 5px;
  width: 10px;
  top: 0;
  /*background:url("../img/jsCapTop.png") no-repeat;*/
}
.jspCapBottom {
  height: 5px;
  width: 10px;
  bottom: 10px;
  /*background:url("../img/jsCapBottom.png") no-repeat;*/
}
.jspHorizontalBar .jspCap {
  float: left;
}
.jspTrack {
  position: relative;
  width: 6px;
  z-index: 2;
  padding-bottom: 10px;
  background: #f3f3f3;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
}
.jspDrag {
  border-right: 1px solid #d5d5d5;
  position: relative;
  top: 0;
  left: -1px;
  width: 7px;
  padding-bottom: 10px;
  cursor: pointer;
  border-radius: 4px;
  z-index: 2;
  background: #d1d1d1;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2QxZDFkMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlY2VjZWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(left, #d1d1d1 0%, #ececec 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #d1d1d1), color-stop(100%, #ececec));
  background: -webkit-linear-gradient(left, #d1d1d1 0%, #ececec 100%);
  background: -o-linear-gradient(left, #d1d1d1 0%, #ececec 100%);
  background: -ms-linear-gradient(left, #d1d1d1 0%, #ececec 100%);
  background: linear-gradient(to right, #d1d1d1 0%, #ececec 100%);
  /*filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1d1d1', endColorstr='#ececec',GradientType=1 );*/

}
.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag {
  float: left;
  height: 100%;
}
.jspArrow {
  background: #50506d;
  text-indent: -20000px;
  display: block;
  cursor: pointer;
}
.jspArrow.jspDisabled {
  cursor: default;
  background: #80808d;
}
.jspVerticalBar .jspArrow {
  height: 7px;
}
.jspHorizontalBar .jspArrow {
  width: 6px;
  float: left;
  height: 100%;
}
.jspVerticalBar .jspArrow:focus {
  outline: none;
}
.jspCorner {
  background: #eeeef4;
  float: left;
  height: 100%;
}
/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner {
  margin: 0 -3px 0 0;
}
/* ==== [ cover block ] ==== */
.jspCap {
  display: block;
}
.jspVerticalBar .jspCapTop {
  height: 6px;
}
.jspVerticalBar .jspCapBottom {
  height: 16px;
}
/*---------------------------------------------------------------------------
	[PIE behavior for IE6-9 ]
---------------------------------------------------------------------------*/
.btn {
  behavior: url("css/PIE.htc");
}
